<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Fullstack Test - Angular + NodeJs</h1>
      <h2>Instructions:</h2>
      <ol>
        <li>You will work on the pages/recipes component</li>
        <li>You can visualize your work on <a href="/recipes">this link</a></li>
        <li>
          The main goal is to feed a bootstrap table with data comming from the
          api
        </li>
        <li>
          Clone the api project with the command
          <b
            >git clone
            https://github.com/SamuelHFalci/fullstack-test-node.git</b
          >
        </li>
        <li>
          Install the backend dependencies with <b>yarn</b> or
          <b>npm i</b> command
        </li>
        <li>
          Run the backend with the command <b>yarn start</b> or
          <b>npm run start</b>
        </li>
        <h4>Backend job:</h4>
        <li>
          Notice that the DataTable perform a get request with query params to
          the backend api
        </li>
        <li>
          You have to implement the pagination on the api side using the query
          params
        </li>
        <li>
          Hint: There is a class for handling database stuff on the backend api
        </li>
        <h4>Frontend job:</h4>
        <li>
          After retrieve the paginated data correctly from the backend make it
          possible to click on the recipe name and open a modal with the recipe
          Name, url, description, author, ingredients and steps
        </li>
        <li>Hint: You can use the ngx-bootstrap modal component to do this</li>
        <li>
          Make it possible for click on the recipe url and open the url in a new
          browser tab
        </li>
        <li>The table should look like the example below:</li>

        <div class="mt-5">
          <table
            datatable
            [dtOptions]="dtOptions"
            class="table table-success table-striped table-hover table-bordered"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Description</th>
                <th>Author</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let recipe of recipes" class="pointer">
                <td>{{ recipe.Name }}</td>
                <td>{{ recipe.url }}</td>
                <td>{{ recipe.Description }}</td>
                <td>{{ recipe.Author }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ol>
    </div>
  </div>
</div>
